## Exercise 2: Database Design, ER Diagram
------------

In this assignment, you are supposed to design a database schema and implement it on a relational database management system.

Task #1
-----------

Draw the Entity Relationship (“ER”) Diagram for the database described below:

:This database archives and rents movies to its customers online. The records of customers, movies, and rentals are stored on an information system.

A customer, who must be 18 years or older, creates his record online with ID, name, contact info and birthdate. He can register up to 5 digital devices with unique IDs for his/her own use. 

A digital device is either a smart phone, tablet, smart TV or computer and it must belong to a unique customer.

A customer can search movies in the database based on name, director, and cast. When a customer decides to rent one or more movies online, s/he first pays for them via an online payment method (e.g. PayPal, iDeal, credit card, ...). 

Afterwards, the customer is able to download rental(s) to one of his/her registered device(s) and play the movie(s).
There is no other way to run movies. The customer is allowed for 90 consecutive days, starting with the rental date, to play the movie.

During this period, statistics about each play of the rental by that customer on his/her specific device is recorded. This data is uploaded automatically to the database system at the end of rental period for analysis.

Task #2
-----------

Write SQL query/queries to generate the designed database.

In [ ]:
%load_ext sql
%sql sqlite://

'Connected: @None'

In [ ]:
%%sql
drop table device;
create table device(
  device_id INTEGER primary key NOT NULL, 
    -- Device ID's originality will be checked here, so no need to check it at customer table.
  customer_id INTEGER,type varchar(9) NOT NULL, 
  device_type varchar(11),
  unique (device_id), 
  unique (customer_id)
);

drop table customer;
CREATE TABLE customer (
  customerID      INTEGER primary key NOT NULL,
  name            varchar(25),
  contact_info    varchar(30),
  birthdate       date,
  -- CHECK((2022 - EXTRACT (year from birthdate)) > 17) NOT NULL
  -- CHECK(DATEDIFF(year, birthdate, getdate() > 17) NOT NULL,
  -- (extract (year from birthdate))- (extract(year from date()))>17) NOT NULL,
  -- These comment lines above, are about different ways to checking age>17 condition but unfortunately i wasn't able to perform them.
  device1_id      INTEGER,
  device2_id      INTEGER,
  device3_id      INTEGER,
  device4_id      INTEGER,
  device5_id      INTEGER
);

drop table movies;
CREATE TABLE movies(
  movieID         int primary key NOT NULL,
  name            varchar(25),
  director        varchar(25),
  cast_info       varchar(50)
);
 
drop table rental;
CREATE TABLE rental (
  paymentID       INTEGER primary key NOT NULL,
  payment_method  varchar(25),
  rental_date     date,
  -- Rental date is required for checking 90 dates.
  movie_id        INTEGER,
  device_id       INTEGER,
  -- In order to make analyze, we need device_id but we can find it with using customer_id. 
  customer_id     INTEGER
);

 * sqlite://
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]